<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
	</appenders>
	<loggers>
		<root level="trace">
			<appender-ref ref="Console"/>
		</root>
		<logger name="org.biojava.bio.structure" level="warn">
			<appender-ref ref="Console"/>
		</logger>
	</loggers>
</configuration>